---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="about">
				<h1>Hey :-)</h1>
				<p>
					I started my professional career as a Drupal developer but evolved into a full stack developer, which includes anything related to PHP, JavaScript, and WebOps.
				</p>
				<p>
					I am also an open source advocate who has worked primarily in open source solutions for Drupal, Mautic, and WordPress etc..
				</p>
				<p>
					I'm quite active in the community, and we might have met at DrupalCon, such as Singapore 2024 and Atlanta 2025. If we haven't, please feel free to reach out to me virtually on your preferred channel.
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>


<style>
	.about h1 {
		margin-bottom: 0.5rem;
		color: var(--accent);
	}
	.about p {
		line-height: 1.8;
		margin: 0 0 1rem 0;
	}
	.links {
		list-style: none;
		padding: 0;
		margin: 1rem 0 0 0;
		display: grid;
		gap: 0.5rem;
	}
	.links a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		color: var(--black);
	}
	.links a:hover {
		border-bottom-color: var(--accent);
	}
</style>
