---
const today = new Date();
---

<footer>
	<div class="social-links">
		<a href="https://drupal.org/u/abhisekmazumdar" target="_blank" aria-label="Drupal">
			<i class="fa-brands fa-drupal" aria-hidden="true"></i>
		</a>
		<a href="https://github.com/abhisekmazumdar" target="_blank" aria-label="GitHub">
			<i class="fa-brands fa-github" aria-hidden="true"></i>
		</a>
		<a href="https://linkedin.com/in/abhisekmazumdar" target="_blank" aria-label="LinkedIn">
			<i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
		</a>
		<a href="https://x.com/abhisekmajumdar" target="_blank" aria-label="X (Twitter)">
			<i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
		</a>
		<a href="https://www.reddit.com/user/abhisekmazumdar" target="_blank" aria-label="Reddit">
			<i class="fa-brands fa-reddit-alien" aria-hidden="true"></i>
		</a>
		<a href="https://www.instagram.com/abhisek.travel" target="_blank" aria-label="Instagram">
			<i class="fa-brands fa-instagram" aria-hidden="true"></i>
		</a>
	</div>
	<span>
		abhisek.xyz
	</span>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links i {
		font-size: 28px;
		line-height: 1;
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
